* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* btn color: #DC3545 */
}

#carouselExampleDark {
  width: 100%;
  margin: auto;
  z-index: 0;
}
#carouselExampleDark #slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#carouselExampleDark #slide .slide-content {
  position: absolute;
  top: 20%;
  left: 10%;
  width: -moz-fit-content;
  width: fit-content;
}
#carouselExampleDark #slide .slide-content h1 {
  font-size: 50px;
  font-weight: 600;
}
#carouselExampleDark #slide .slide-content p {
  font-size: 18px;
}
#carouselExampleDark #slide .slide-content a:hover {
  color: white;
  background-color: black;
}

#small_banner {
  max-width: 1200px;
  margin: 50px auto 0;
}
#small_banner > div {
  display: flex;
  gap: 10px;
}
#small_banner > div div img {
  transition: all 0.3s ease;
}
#small_banner > div div img:hover {
  transform: scale(1.1);
  filter: brightness(1) grayscale(97%) contrast(12);
}
#small_banner > div div h5 {
  font-size: 25px;
  margin: 0;
}
#small_banner > div div p {
  margin: 0;
}

#two-banner {
  margin: 100px auto;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
}
#two-banner .card-img-overlay {
  position: absolute;
  left: 16px;
  top: 60px;
}
#two-banner h3 {
  font-weight: 600;
  font-size: 30px;
}
#two-banner h4 {
  color: rgb(113, 111, 111);
}
#two-banner a:hover {
  color: white;
  background-color: black;
  border-color: transparent;
}
#two-banner span {
  color: red;
}
#two-banner div {
  overflow: hidden;
}
#two-banner div img {
  transition: all 0.1s linear;
}
#two-banner div:hover {
  cursor: pointer;
}
#two-banner div:hover img {
  transform: scale(1.2);
  transition: all 0.5s linear;
}

/*Product 3 */
#products {
  margin: 100px auto;
  max-width: 1200px;
}
#products > ul {
  justify-content: center;
}
#products .nav-item {
  padding: 0 10px;
}
#products .nav-item .nav-link {
  position: relative;
  color: black;
}
#products .nav-item .nav-link:hover::after {
  width: 100%;
}
#products .nav-item .nav-link::after {
  transition: all 0.2s linear;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  content: "";
  background-color: red;
}
#products .nav-item .nav-link.active {
  background-color: transparent;
  color: red;
}
#products .nav-item .nav-link.active::after {
  width: 100%;
}
#products .tab-content a {
  text-decoration: none;
  color: black;
}
#products .tab-content .tab-pane {
  display: none;
}
#products .tab-content .tab-pane.show.active {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
#products .tab-content .tab-pane .card {
  width: calc((100% - 30px) / 4);
}
#products .tab-content .tab-pane .card .card-img {
  overflow: hidden;
}
#products .tab-content .tab-pane .card .card-img img {
  transition: all 0.3s ease 0s;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .tab-content .tab-pane .card .card-img img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}
#products .tab-content .tab-pane .card .card-body {
  text-align: center !important;
}
#products .tab-content .tab-pane .card .card-body .card-title {
  text-align: center !important;
  font-weight: 600;
}
#products .tab-content .tab-pane .card .card-body .shopHereLink {
  border: 1px solid #6c757d;
  border-radius: 5%;
  padding: 5px 10px 5px 10px;
  transition: all 0.3 linear;
}
#products .tab-content .tab-pane .card .card-body .shopHereLink:hover {
  background-color: #dc3545;
  color: white;
  border: #6c757d;
}

/* Fullbanner Product 4  */
#fullbanner {
  max-width: 1200px;
  margin: 100px auto;
}
#fullbanner img {
  cursor: pointer;
  transition: all 0.1s linear;
}
#fullbanner:hover img {
  transform: scale(1.2);
  transition: all 0.5s linear;
}

/* section 6 three banner */
#three-banners {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#three-banners .card {
  overflow: hidden;
  width: calc((100% - 20px) / 3);
}
#three-banners .card:hover {
  cursor: pointer;
}
#three-banners .card:hover .card-img {
  transform: scale(1.2);
}
#three-banners .card .card-img {
  transition: all 0.2s linear;
}

/* section 7 daily deal */
#daily-deal {
  max-width: 1200px;
}
#daily-deal .section-title {
  margin: 15px 0 0;
  padding: 0 0 15px;
}
#daily-deal .section-title > ul {
  justify-content: center;
}
#daily-deal .section-title .nav-item {
  padding: 0 10px;
}
#daily-deal .section-title .nav-item .nav-link {
  position: relative;
  color: black;
}
#daily-deal .section-title .nav-item .nav-link:hover::after {
  width: 100%;
}
#daily-deal .section-title .nav-item .nav-link::after {
  transition: all 0.2s linear;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  content: "";
  background-color: red;
}
#daily-deal .section-title .nav-item .nav-link.active {
  background-color: transparent;
  color: red;
}
#daily-deal .section-title .nav-item .nav-link.active::after {
  width: 100%;
}
#daily-deal .tab-content .tab-pane {
  display: none;
}
#daily-deal .tab-content .tab-pane.show.active {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
#daily-deal .tab-content .tab-pane .card {
  width: calc((100% - 10px) / 2);
}
#daily-deal .tab-content .tab-pane .card .card-link-img {
  overflow: hidden;
}
#daily-deal .tab-content .tab-pane .card .card-link-img .card-img {
  transition: all 0.2s linear;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
#daily-deal .tab-content .tab-pane .card .card-link-img .card-img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}
#daily-deal .tab-content .tab-pane .card .card-body {
  text-align: start;
}
#daily-deal .tab-content .tab-pane .card .card-body .card-title {
  color: #0084c5;
  font-size: 18px;
}
#daily-deal .tab-content .tab-pane .card .card-body .shopHereLink {
  text-decoration: none;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 5%;
  padding: 5px 10px 5px 10px;
  transition: all 0.3 linear;
}
#daily-deal .tab-content .tab-pane .card .card-body .shopHereLink:hover {
  background-color: #dc3545;
  color: white;
  border: #6c757d;
}

/* Section Logo 8 */
#logos {
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logos .img-logo img {
  transition: all 0.2s linear;
}
#logos .img-logo img:hover {
  transform: scale(1.2);
  transition: all 0.5s linear;
}

/* Section blog 9 */
#blog {
  max-width: 1200px;
  margin: 100px auto;
}
#blog .card-container {
  margin: 0, auto;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#blog .card-container h3:hover,
#blog .card-container p:hover {
  color: red;
}
#blog .card-container .btn {
  background-color: black;
  border: none;
  color: white;
}
#blog .card-container .btn:hover {
  background-color: red;
  border: none;
}
#blog .card-container .card {
  width: calc((100% - 20px) / 3);
}
#blog .card-container .card .img-cover {
  overflow: hidden;
}
#blog .card-container .card .img-cover .card-img-top {
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s linear;
}
#blog .card-container .card .img-cover .card-img-top:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(5deg);
}

/* Section footer */
#footer {
  max-width: 1200px;
  background-color: rgb(247, 245, 245);
  width: 100%;
  margin: 50px auto;
}
#footer .info {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 100px 50px;
  line-height: 2em;
}
#footer .info i {
  -webkit-padding-end: 1.5rem;
          padding-inline-end: 1.5rem;
}
#footer .info .details {
  min-width: 20%;
}
#footer .info .details a {
  text-decoration: none;
  color: black;
}
#footer .info .details input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-bottom: 2em;
  width: 100%;
  background-color: transparent;
}
#footer .bottom {
  background-color: rgb(229, 226, 226);
  margin-bottom: 0;
}
#footer .bottom p {
  text-align: center;
  padding: 5px;
}
#footer .bottom p i {
  -webkit-padding-end: 0;
          padding-inline-end: 0;
}

@media only screen and (max-width: 1200px) {
  #small_banner {
    max-width: 960px;
  }
  #two-banner {
    max-width: 960px;
  }
  #products {
    max-width: 960px;
  }
  #three-banners {
    max-width: 960px;
  }
  #daily-deal {
    max-width: 960px;
  }
  #logos {
    max-width: 960px;
  }
  #blog {
    max-width: 960px;
  }
  #footer {
    max-width: 960px;
  }
}
@media only screen and (max-width: 992px) {
  #small_banner {
    max-width: 720px;
    flex-wrap: wrap;
  }
  #small_banner > div {
    width: 50%;
  }
  #small_banner > div .info h5 {
    font-size: 16px;
  }
  #small_banner > div .info p {
    font-size: 14px;
  }
  #two-banner {
    max-width: 720px;
  }
  #two-banner .card-title, #two-banner .card-text {
    font-size: 18px;
  }
  #two-banner p, #two-banner a {
    font-size: 16px;
  }
  #products {
    max-width: 720px;
  }
  #products .tab-content .tab-pane {
    flex-wrap: wrap;
  }
  #products .tab-content .tab-pane .card {
    width: calc((100% - 20px) / 3);
  }
  #products .tab-content .tab-pane .card a {
    font-size: 14px;
  }
  #three-banners {
    max-width: 720px;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  #three-banners h5 {
    font-size: 18px;
  }
  #three-banners a, #three-banners .btn {
    font-size: 14px;
  }
  #daily-deal {
    max-width: 720px;
  }
  #daily-deal .card .card-body p, #daily-deal .card .card-body a {
    font-size: 14px;
  }
  #logos {
    max-width: 720px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
  }
  #logos .img-logo {
    width: calc((100% - 10px) / 3);
    text-align: center;
  }
  #blog {
    max-width: 720px;
  }
  #blog .card-container {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  #blog .card-container .card {
    width: calc((100% - 10px) / 2);
  }
  #blog .card-container .card .card-body .card-title {
    font-size: 18px;
  }
  #blog .card-container .card .card-body span, #blog .card-container .card .card-body .btn, #blog .card-container .card .card-body .card-text {
    font-size: 14px;
  }
  #footer {
    max-width: 720px;
  }
  #footer .info {
    flex-wrap: wrap;
    row-gap: 50px;
  }
  #footer .info .details {
    width: calc((100% - 30px) / 2);
  }
  #footer .info .details a, #footer .info .details p, #footer .info .details .btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  #carouselExampleDark {
    width: 100%;
  }
  #carouselExampleDark #slide .slide-content {
    top: 5%;
    padding: 0;
  }
  #carouselExampleDark #slide .slide-content h1 {
    font-size: 18px;
  }
  #carouselExampleDark #slide .slide-content p {
    font-size: 14px;
  }
  #carouselExampleDark #slide .slide-content a {
    font-size: 14px;
  }
  #small_banner {
    max-width: 540px;
  }
  #small_banner > div {
    width: 100%;
  }
  #small_banner > div .info h5 {
    font-size: 16px;
  }
  #small_banner > div .info p {
    font-size: 14px;
  }
  #two-banner {
    max-width: 540px;
    margin: 50px auto;
    flex-wrap: wrap;
  }
  #two-banner .card {
    width: 100%;
  }
  #products {
    max-width: 540px;
    margin: 50px auto;
  }
  #products .tab-content .tab-pane {
    flex-wrap: wrap;
  }
  #products .tab-content .tab-pane .card {
    width: 100%;
  }
  #fullbanner {
    max-width: 540px;
    margin: 50px auto;
  }
  #three-banners {
    max-width: 540px;
    margin: 50px auto;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  #three-banners .card {
    width: 100%;
  }
  #daily-deal {
    max-width: 540px;
    margin: 50px auto;
    overflow: hidden;
    flex-wrap: wrap;
  }
  #daily-deal .tab-content .tab-pane .card {
    width: 100%;
  }
  #logos {
    max-width: 540px;
    margin: 50px auto;
  }
  #logos .img-logo {
    width: 100%;
  }
  #logos .img-logo.off-logo {
    display: none;
  }
  #blog {
    max-width: 540px;
    margin: 50px auto;
  }
  #blog .card-container .card {
    width: 100%;
  }
  #footer {
    max-width: 540px;
    margin: 0 auto;
  }
  #footer .info {
    padding: 50px;
  }
  #footer .info .details {
    width: 100%;
  }
  #footer .bottom p {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=index.css.map */